// // /* EJEMPLO 1 */
// html body * {
//   font-size: 29px !important;
// }
// // /* EJEMPLO 1 */


/* EJEMPLO 2 */
// html body {
//   animation: rotating 2s 3s forwards, coloring 2s 3s forwards;
// }
// html body * {
//   animation: coloring 2s 3s forwards;
// }

// @keyframes coloring {
//   100% { color: black; background-color: lightseagreen; }
// }

// @keyframes rotating {
//   100% { transform: rotate(180deg); }
// }
/* EJEMPLO 2 */

.my-commit-msg {
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: aquamarine;
    color: #333;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}